<footer>
  <nav>
    <ul>
      <li><a href="./">HOME</a></li>
      <li><a href="./blog">BLOG</a></li>
      <li><a href="./login">LOGIN</a></li>
      <li><a href="./contacto">CONTACTO</a></li>
    </ul>
    <picture><img src="./img/logo_light_vertical 1.svg" alt="" /></picture>
  </nav>

  <p>All rights reserved - Franco Perrone Rey</p>
</footer>
